**/*.zip
**/*.pyc
**/Binaries/
**/*.swp
**/*.o
**/c5.0.dt_entropy
**/c5.0.dt_penalty
**/c5.0dbg
**/*.exe
**/bin/
**/*.dll
**/*.pdb
**/obj/
**/Debug/
**/Release/
**/Test/
SourceBench/**/*.json
SourceBench/**/*.data
SourceBench/**/*.implications
SourceBench/**/*.intervals
SourceBench/**/*.names
SourceBench/**/*.out
SourceBench/**/*.tmp
SourceBench/**/*.tree
**/tmp/
**/*.csv
tmp/**
**/*.log
**/.idea/
**/.vscode/
others/
*.xlsx
*.lgs
*.tar.xz
codetest/
